<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/homepage/EETravels_logo.png">
        <title>Explore Enjoy Travel and Tours</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        
        <!-- angularjs -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-validate/1.2.3/validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.2/angular-messages.min.js"></script>
        
        <!--price range slider-->
        <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css">
        <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script> 
        
        
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
        <link rel="stylesheet" type="text/css" href="css/priceRangeSlider.css"/>
        <link rel="stylesheet" type="text/css" href="css/errorHandlingMsgs.css"/>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers/homepgController.js"></script>
        <script type="text/javascript" src="js/controllers/mainController.js"></script>
        <script type="text/javascript" src="js/controllers/destinationController.js"></script>
        <script type="text/javascript" src="js/controllers/formsController.js"></script>
        <script type="text/javascript" src="js/controllers/packageController.js"></script>
        <script type="text/javascript" src="js/controllers/footerController.js"></script>
        <script type="text/javascript" src="js/scrolled-nav.js"></script>
    </head>
    
    <body ng-app="app">
        <header>
            <div class="navigation">
                <a ui-sref="home"><img class="logo-img" src="images/homepage/EETravels_logo.png" alt="EE Travel and Tours Logo" /></a>

                <nav class="hambuger_menu">
                    <input class="menu-btn" type="checkbox" id="menu-btn" />
                      <label class="menu-icon" for="menu-btn"><span class="hambuger_menu_icon"></span></label>
                    <span class="reserve_now_section">
                        <a ui-sref="reservenow" class="button_border-nav">Reserve Now</a>
                    </span>

                    <ul class="menu_content">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="destination">Destination</a></li>
                        <li><a ui-sref="package">Package</a></li>
                        <li><a ui-sref="gallery">Gallery</a></li>
                        <li><a ui-sref="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <!-- MAIN CONTENT --> 
        <main ui-view></main> 
        
        <footer ng-controller="footerController">
            <div class="subscription">
                <h3>Subscribe to our newsletter</h3>
                <h5>Get the latest updates and promos by <br/> subscribing!</h5>
                <form name="subscribeForm" ng-submit="subsSubmitForm(subscribeForm.$valid)" novalidate>
                    <div class="wrapper-email">
                        <input type="email" 
                               name="email" 
                               id="email" 
                               placeholder="Enter your Email Address here" 
                               ng-model="subsFormData.email" 
                               required><button type="submit" 
                                                class="footer-button" 
                                                ng-disabled="subscribeForm.$invalid">Submit</button>
                        <div class="text-error" ng-messages="subscribeForm.email.$error">
                            <p ng-message="email">Please enter a valid Email Address.</p>
                        </div>

                        <div ng-show="success">
                            <div class="alert alert-success fade show">
                                <a ng-click="hideAlert()" class="close" >&times;</a>
                                <strong>Success!</strong> Please check your email for the confirmation.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="wrapper-copyright-contacts">
                <div class="copyright">
                    <p>{{ copyright }} | <a href="#">Terms &amp; Conditions</a></p>
                </div>

                <div class="contacts">
                    <p>
                        <img src="{{ phone.imgUrl }}" alt="{{ phone.alt }}"/> {{ phone.number }} |
                        <img src="{{ email.imgUrl }}" alt="{{ email.alt }}"/> {{ email.emailAdd }} | 
                        <a href="{{ social.url }}" target="_blank">
                            <img src="{{ social.imgUrl }}" alt="{{ social.alt }}"/>
                        </a>
                    </p>
                </div>
            </div>
            <div class="developer">
                <p>Website by <a href="#"><b>{{ developer.firstName }}</b> {{ developer.lastName }}</a></p>
            </div>
        </footer>
    </body>
</html>