<div class="header-headers">
    <h1>Gallery</h1>
</div>
<main>
    <div class="gallery_page">
        <div class="gallery_page-container column-3 tz-gallery">
            <div class="gallery_img1">
                <a href="" class="lightbox"><img src="images/gallery/zambales_gallery/SAntons_fam2.jpg" alt="Zambales Photo"/></a>
            </div>
            <div class="gallery_img2">
                <a href="" class="lightbox"><img src="images/destinations/cebu/Fort_San_Pedro.jpg" alt="Fort San Pedro Photo"/></a>
            </div>
            <div class="gallery_img3">
                <a href="" class="lightbox"><img src="images/gallery/baguio_gallery/mines_view_park.jpg" alt="Mines View Park Photo"/></a>
            </div>
            <div class="gallery_img4">
                <a href="" class="lightbox"><img src="images/gallery/baguio_gallery/Jasme_family_and_friends.jpg" alt="Jasme family and friends Photo"/></a>
            </div>
            <div class="gallery_img5">
                <a href="" class="lightbox"><img src="images/gallery/anawangin_cove_gallery/anawangin_trip4.jpg" alt="Anawangin trip4 Photo"/></a>
            </div>
            <div class="gallery_img6">
                <a href="" class="lightbox"><img src="images/gallery/baguio_gallery/domingo_fam.jpg" alt="Domingo family Photo"/></a>
            </div>
            <div class="gallery_img7">
                <a href="" class="lightbox"><img src="images/gallery/zambales_gallery/SAntos_family.jpg" alt="Santos family Photo"/></a>
            </div>
            <div class="gallery_img8">
                <a href="" class="lightbox"><img src="images/gallery/baguio_gallery/bell_church.jpg" alt="Bell Church Photo"/></a>
            </div>
            <div class="gallery_img9">
                <a href="" class="lightbox"><img src="images/gallery/anawangin_cove_gallery/anawangin_trip.jpg" alt="Anawangin trip Photo"/></a>
            </div>
            <div class="gallery_img10">
                <a href="" class="lightbox"><img src="images/gallery/anawangin_cove_gallery/anawangin_trip2.jpg" alt="Anawangin trip2 Photo"/></a>
            </div>
            <div class="gallery_img11">
                <a href="" class="lightbox"><img src="images/gallery/anawangin_cove_gallery/anawangin_trip3.jpg" alt="Anawangin trip3 Photo"/></a>
            </div>
        </div> <!-- END OF gallery_page-container -->
    </div> <!-- END OF gallery_page -->
</main>
        
        