<div class="header-headers">
    <h1>Reserve Now!</h1>
</div>
<main>
    <div class="reservenow_page">
        <div class="reservenow_page-container">
            <div class="reservenow_page-text">
                <p>You can make reservations to our different services</p>
            </div> <!-- END OF reservenow_page-text -->
            <div class="wrapper-pills">
                <ul class="nav nav-pills mb-3 navi">
                  <li class="nav-item">
                    <a class="nav-link" ui-sref=".van" ui-sref-active="active" ng-click="resetForm()">Van Transfers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref=".hotel" ui-sref-active="active" ng-click="resetForm()">Room Accommodation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref=".tour" ui-sref-active="active" ng-click="resetForm()">Tour Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" ui-sref=".flight" ui-sref-active="active" ng-click="resetForm()">Airline Flight Ticketing</a>
                  </li>
                </ul>

                <div class="tab-content content-body">
                  <div class="tab-pane fade show active">
                      <div ui-view></div>
                  </div>
                </div> <!-- END OF  content-body --> 
            </div> <!-- END OF wrapper-pills -->
        </div> <!-- END OF reservenow_page-container -->
    </div> <!-- END OF reservenow_page -->
</main>
